.student-name {
    color: gray;
    padding: 10px;
    background: aquamarine;
    margin: 10px;
    cursor: pointer;
    display: inline-block;
}

.students>div {
    display: inline-block;
}

h1 {
    text-align: center;
}
